---
import { Image } from "astro:assets";
import mascota1 from "../../assets/mascota1.png";
import mascota from "../../assets/mascota.png";
import Layout from "../../layouts/LayoutEn.astro";
---

<Layout title="Flint - About Us">
  <div class="p-10">
    <div>
      <div>
        <h1 class="text-3xl lg:text-6xl font-bold">About Us</h1>
        <!--primera caja -->
        <div class="mx-auto lg:flex items-center">
          <div>
            <p class="text-xl lg:text-2xl w-[90%] mt-10 text-end md:text-start">
              At Flint, we embrace the dedication and ingenuity of the ovenbird
              when constructing its nest to create exceptional digital
              campaigns. Just as the ovenbird selects each material with
              precision, we choose specific strategies for each client, ensuring
              that each element contributes to the overall success of the
              campaign.
            </p>
            <p class="text-xl lg:text-2xl w-[90%] mt-5">
              Just as the ovenbird immerses itself in its task with passion, in
              our agency, we wholeheartedly dedicate ourselves to each project.
              Each return flight to the ovenbird's nest is like our constant
              reviews and adjustments, always seeking to improve and perfect
              every detail.
            </p>
          </div>

          <div>
            <Image
              width="1000"
              height="1000"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="hidden w-[800px] lg:inline"
              format="webp"
            />
          </div>
        </div>
        <!--Segunda caja -->
        <div class="mx-auto lg:flex items-center flex-row-reverse mt-5">
          <div>
            <p
              class="text-xl lg:text-2xl w-[90%] mt-10 text-end md:text-start lg:text-end"
            >
              At Flint, we embrace the dedication and ingenuity of the ovenbird
              when constructing its nest to create exceptional digital
              campaigns. Just as the ovenbird selects each material with
              precision, we choose specific strategies for each client, ensuring
              that each element contributes to the overall success of the
              campaign.
            </p>
          </div>
          <div>
            <Image
              width="1000"
              height="1000"
              loading="eager"
              src={mascota}
              alt="mascota de flint"
              class="hidden w-[1000px] lg:inline"
              format="webp"
            />
          </div>
        </div>
      </div>
      <!--Seccion de  mision y vision -->
      <div class="mt-32">
        <div class="flex justify-center py-10">
          <div class="">
            <h2 class="text-3xl font-bold">Mision</h2>
            <p class="text-2xl pt-7">
              Providing the Argentine market with a <b>transparent</b> offer model
              for a digital marketing agency that prioritizes the client relationship,
              actively integrating them into the working team.
            </p>
            <p class="text-2xl">
              Our mission is to offer our services in the most transparent way,
              connecting with each client in a <b>unique and personalized</b>
              manner.
            </p>
          </div>
        </div>

        <div class="flex justify-center py-10">
          <div class="">
            <h2 class="text-3xl font-bold">Vision</h2>
            <p class="text-2xl pt-7">
              To turn Flint into a <b>TOP</b> agency in the global market, bringing
              the differentiators of <b>Argentinian</b> culture worldwide, composed
              of a team with international reputation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Video de reemplazo -->
    <div class="flex justify-center ">
      <iframe width="914" height="514" src="https://www.youtube.com/embed/ogDWyQCZRxk" title="Poderme Acostumbrar - Acústico" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <!--Seccion de personas -->
    <div class="mt-28">
      <h2 class="text-6xl font-bold text-center">Our Team</h2>
      <div class="container  lg:flex justify-center gap-5 mt-10">
        
        <div class="my-5 flex flex-col items-center border  rounded-lg shadow md:flex-row md:max-w-xl  border-black bg-black hover:bg-black/75">
          <Image
              width="300"
              height="300"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="lg:inline"
              format="webp"
            />
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Jose Lopez</h5>
              <p class="mb-3 font-normal text-gray-400">Marketing specialist with over 5 years of experience, passionate about creating innovative strategies that drive brand growth.</p>
          </div>
        </div>

        <div class="my-5 flex flex-col items-center border  rounded-lg shadow md:flex-row md:max-w-xl  border-black bg-black hover:bg-black/75">
          <Image
              width="300"
              height="300"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="lg:inline"
              format="webp"
            />
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Juan Perz</h5>
              <p class="mb-3 font-normal text-gray-400">Marketing specialist with over 5 years of experience, passionate about creating innovative strategies that drive brand growth.</p>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</Layout>
