---
import Layout from "../../layouts/LayoutEn.astro";
import Hero from "../../components/en/Hero.astro";
import Caja from "../../components/en/CajaEn.astro";
import { Image } from "astro:assets";
import mascota1 from "../../assets/launch.png";
import  servicios  from "../../data/en/servicios.json";
import Crumble from "../../components/en/CrumbleEn.astro";
import Tecnologias from "../../components/Tecnologias.astro";
import AboutUs from "../../components/en/AboutUsEn.astro";
---

<Layout title="Flint - Digital Marketing Agency">
  <Hero />

  <section class="relative mt-10">
    <div class="p-8 flex justify-center">
      <Image
        width="1000"
        height="1200"
        loading="eager"
        src={mascota1}
        alt="mascota de flint"
        class="hidden w-[400px] xl:w-[400px] h-[400px] xl:h-auto lg:inline"
        format="webp"
      />
      <h1 class="text-2xl md:text-center md:text-5xl lg:p-24 lg:text-7xl">
        Our selection of<b
          class="text-3xl uppercase block md:text-6xl lg:text-8xl gradient-text font-extrabold"
          >services</b
        >
      </h1>
    </div>
    <div class="grid gap-5 grid-cols-2 md:grid-cols-3 w-[85%] m-auto">
      {
        servicios.map((servicio) =>
          servicio.isTopSales ? (
            servicio.category === "marketing" ? (
              <a href="/en/servicios#marketing">
                <Caja servicio={servicio} color="#dec998" colorTexto="black" />
              </a>
            ) : servicio.category === "web" ? (
              <a href="/en/servicios#web">
                <Caja servicio={servicio} color="#3F88C5" colorTexto="black" />
              </a>
            ) : servicio.category === "design" ? (
              <a href="/en/servicios#diseno">
                <Caja servicio={servicio} color="#916953" colorTexto="black" />
              </a>
            ) : null
          ) : null
        )
      }
    </div>
    <div class="flex justify-end w-[85%] m-auto mt-3">
      <a href="/en/servicios#services">See more &RightArrow;</a>
    </div>
  </section>

  <section class="mt-10 z-0">
    <div class="px-8 py-8 lg:py-0 text-end">
      <h1 class="text-2xl md:text-5xl lg:text-7xl md:text-center lg:pt-24">
        This <b
          class="uppercase gradient-text font-extrabold text-3xl
          md:text-6xl lg:text-8xl"
          >bundles</b
        >
      </h1>
      <h1 class="text-2xl md:text-5xl lg:text-7xl md:text-center">
        will give a
      </h1>
      <h1 class="md:text-center lg:pb-24 text-2xl md:text-5xl lg:text-7xl">
        <b
          class="uppercase gradient-text font-extrabold text-3xl
        md:text-6xl lg:text-8xl"
          >boost</b
        > to your brand
      </h1>
    </div>
    <Crumble />
  </section>

  <section class="mt-10 lg:pt-24">
    <AboutUs />
  </section>

  <section class="mt-10 lg:pt-24">
    <div class="p-8 text-center">
      <h1 class="text-2xl md:text-center lg:text-6xl pb-5">
        We use the best <b
          class="uppercase block gradient-text2 font-extraboldtext-3xl
          md:text-6xl lg:text-8xl"
          >Plataforms</b
        >
      </h1>
      <h2
        class="text-xl md:text-center lg:text-4xl gradient-text2 font-semibold"
      >
        Our favorite tools
      </h2>
      <p class="lg:text-lg">
        These are the technologies we love the most and use to provide you with
        the best products
      </p>
    </div>
    <Tecnologias />
  </section>
</Layout>
