---
import { Image } from "astro:assets";
import mascota1 from "../assets/mascota1.png";
import mascota from "../assets/mascota.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flint - Nosotros">
  <div class="p-10">
    <div>
      <div>
        <h1 class="text-3xl lg:text-6xl font-bold">Nosotros</h1>
        <!--primera caja -->
        <div class="mx-auto lg:flex items-center">
          <div>
            <p class="text-md lg:text-2xl w-[90%] mt-10">
              En Flint, adoptamos la dedicación y el ingenio del hornero cuando
              construye su nido para crear campañas digitales excepcionales. Al
              igual que el hornero selecciona cada material con precisión,
              nosotros elegimos estrategias específicas para cada cliente,
              asegurándonos de que cada elemento contribuya al éxito general de
              la campaña.
            </p>
            <p class="text-md lg:text-2xl w-[90%] mt-5">
              Así como el hornero se sumerge en su tarea con pasión, en nuestra
              agencia, nos entregamos por completo a cada proyecto. Cada vuelo
              de retorno al nido del hornero es como nuestras constantes
              revisiones y ajustes, siempre buscando mejorar y perfeccionar cada
              detalle.
            </p>
          </div>

          <div class="">
            <Image
              width="1000"
              height="1000"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="hidden w-[800px] lg:inline"
              format="webp"
            />
          </div>
        </div>
        <!--Segunda caja -->
        <div class="mx-auto lg:flex items-center flex-row-reverse mt-5">
          <div>
            <p class="text-md lg:text-2xl w-[90%] mt-10 lg:text-end">
              En Flint, adoptamos la dedicación y el ingenio del hornero cuando
              construye su nido para crear campañas digitales excepcionales. Al
              igual que el hornero selecciona cada material con precisión,
              nosotros elegimos estrategias específicas para cada cliente,
              asegurándonos de que cada elemento contribuya al éxito general de
              la campaña.
            </p>
          </div>
          <div>
            <Image
              width="1000"
              height="1000"
              loading="eager"
              src={mascota}
              alt="mascota de flint"
              class="hidden w-[1000px] lg:inline"
              format="webp"
            />
          </div>
        </div>
      </div>
      <!--Seccion de  mision y vision -->
      <div class="mt-32 lg:hidden">
        <div class="flex justify-center py-10">
          <div class="">
            <h2 class="text-3xl font-bold">Mision</h2>
            <p class="text-xl pt-7">
              Ofrecer al mercado argentino un modelo de oferta <b
                >transparente</b
              >
               de agencia de marketing digital en la que se priorice el vínculo
              con el cliente, integrándolo activamente al equipo de trabajo.
            </p>
            <p class="text-xl">
              Nuestra misión es ofrecer nuestros servicios de la forma más
              transparente posible, vinculándonos con cada cliente de una forma <b
                >única y personalizada.</b
              >
            </p>
          </div>
        </div>

        <div class="flex justify-center py-10">
          <div class="">
            <h2 class="text-3xl font-bold">Vision</h2>
            <p class="text-xl pt-7">
              Convertir a Flint en una agencia <b>TOP</b> en el mercado global,
              trasladando los diferenciales de la cultura <b>Argentina</b> a
              todo el mundo, conformada por un equipo de trabajo con reputación
              internacional.
            </p>
          </div>
        </div>
      </div>

      <!--Video de reemplazo -->
      <div class="flex justify-center">
        <iframe width="914" height="514" src="https://www.youtube.com/embed/ogDWyQCZRxk" title="Poderme Acostumbrar - Acústico" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>

    <!--Seccion de personas -->

    <div class="mt-28">
      <h2 class="text-6xl font-bold text-center">Nuestro equipo</h2>
      <div class="container  lg:flex justify-center gap-5 mt-10">
        
        <div class="my-5 flex flex-col items-center border  rounded-lg shadow md:flex-row md:max-w-xl  border-black bg-black hover:bg-black/75">
          <Image
              width="300"
              height="300"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="lg:inline"
              format="webp"
            />
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Jose Lopez</h5>
              <p class="mb-3 font-normal text-gray-400">especialista en marketing digital con más de 5 años de experiencia, apasionado por crear estrategias innovadoras que impulsan el crecimiento de las marcas.</p>
          </div>
        </div>

        <div class="my-5 flex flex-col items-center border  rounded-lg shadow md:flex-row md:max-w-xl  border-black bg-black hover:bg-black/75">
          <Image
              width="300"
              height="300"
              loading="eager"
              src={mascota1}
              alt="mascota de flint"
              class="lg:inline"
              format="webp"
            />
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Juan Perz</h5>
              <p class="mb-3 font-normal text-gray-400">especialista en marketing digital con más de 5 años de experiencia, apasionado por crear estrategias innovadoras que impulsan el crecimiento de las marcas.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</Layout>
