---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Caja from "../components/Caja.astro";
import Grilla from "../components/GrillaServicios.astro";

import { servicios } from "../data/servicios";
---

<Layout title="Flint - Marketing Agency">
  <Grilla />
  <section class="w-[85%] m-auto mt-10">
    <h1 class="text-2xl md:text-center md:text-5xl lg:p-24 lg:text-7xl">
      Paquetes de <b
        class="text-3xl uppercase block md:text-6xl lg:text-8xl gradient-text font-extrabold"
        >Servicios</b
      >
      <h1
        class="py-10 text-xl uppercase md:text-2xl lg:text-4xl gradient-text2 font-bold"
      >
        Marketing
      </h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
        {
          servicios.map((servicio) =>
            servicio.category === "marketing" ? (
              <Caja servicio={servicio} />
            ) : null
          )
        }
      </div>
      <h1
        class="py-10 text-xl uppercase md:text-2xl lg:text-4xl gradient-text2 font-bold"
      >
        Web
      </h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
        {
          servicios.map((servicio) =>
            servicio.category === "web" ? <Caja servicio={servicio} /> : null
          )
        }
      </div>
      <h1
        class="py-10 text-xl uppercase md:text-2xl lg:text-4xl gradient-text2 font-bold"
      >
        Merchandise
      </h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
        {
          servicios.map((servicio) =>
            servicio.category === "merchandise" ? (
              <Caja servicio={servicio} />
            ) : null
          )
        }
      </div>
    </h1>
  </section>
</Layout>
