<div>
  <div class="p-8 mt-20">
    <h1 class="text-2xl md:text-center md:text-5xl lg:text-7xl">
      Quienes somos <!--<b
        class="text-3xl uppercase block md:text-6xl lg:text-8xl gradient-text font-extrabold"
        >flint</b>-->
      <img
        class="md:mx-auto p-2 lg:w-64"
        src="/FlintClaroSolo.avif"
        alt="Logo de flint marketing agency"
        width="100"
        height="100"
      />
    </h1>
  </div>
  <div class="lg:px-36 px-12">
    <div>
      <div class="text-center">
        <h1 class="py-5 text-2xl font-bold">
          Te ayudamos a crecer mas rapido como negocio
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil
          facere architecto error quibusdam, non deserunt nobis quas culpa vel
          aut nisi fuga ipsam similique recusandae dolores aliquam molestiae
          omnis!
        </p>
      </div>

      <!--Tarjeta de mision y vision -->
      <div class="hidden md:grid md:gap-5 md:mt-24 lg:grid-cols-2">
        <div
          class="p-3 bg-zinc-500/75 rounded-xl w-full h-auto text-center md:text-left ease-in duration-200 hover:bg-zinc-700/100 backdrop-blur-md"
        >
          <div class="flex justify-center md:justify-between items-center pb-3">
            <h1 class="font-bold text-lg lg:text-xl md:block hidden">
              ejemplo
            </h1>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-world-www"
              width="60"
              height="60"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"
              ></path>
              <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
              <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
              <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"
              ></path>
              <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
              <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
              <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
              <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
              <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
            </svg>
          </div>
          <div>
            <h1 class="font-semibold text-sm lg:text-xl block md:hidden">
              ejemplo
            </h1>
            <p class="hidden md:block text-lg">
              Ejempo de una mision que inspire nuestro negocio y pueda captar
              clientes
            </p>
          </div>
        </div>

        <div
          class="p-3 bg-zinc-500/75 rounded-xl w-full h-auto text-center md:text-left ease-in duration-200 hover:bg-zinc-700/100 backdrop-blur-md"
        >
          <div class="flex justify-center md:justify-between items-center pb-3">
            <h1 class="font-bold text-lg lg:text-xl md:block hidden">
              ejemplo
            </h1>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-world-www"
              width="60"
              height="60"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"
              ></path>
              <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
              <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
              <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"
              ></path>
              <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
              <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
              <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
              <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
              <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
            </svg>
          </div>
          <div>
            <h1 class="font-semibold text-sm lg:text-xl block md:hidden">
              ejemplo
            </h1>
            <p class="hidden md:block text-lg">
              Ejempo de una vision que inspire nuestro negocio y pueda captar
              clientes
            </p>
          </div>
        </div>
      </div>
      <!--Tarjeta de mision y vision -->

      <div class="flex justify-center mt-10">
        <a
          href="#"
          class="inline-flex items-center justify-center px-8 py-4 text-base
                                    font-bold leading-6 text-black bg-[#dec998] ease-in duration-200 border border-transparent rounded-full
                                    hover:bg-[#dec998]/50 focus:outline-none focus:ring-2 focus:ring-[#000] focus:ring-offset-2"
        >
          Conocenos
        </a>
      </div>
    </div>
  </div>
</div>
