---
const servicio = Astro.props;
---

<div
  class="text-black p-3 bg-[#dec998]/75 rounded-xl w-full h-auto text-center md:text-left ease-in duration-200 hover:bg-[#dec998]/100 backdrop-blur-md"
>
  <div class="flex justify-center md:justify-between items-center pb-3">
    <h1 class="font-bold text-lg lg:text-xl md:block hidden">
      {servicio.servicio.name}
    </h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-world-www text-cyan-600"
      width="60"
      height="60"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path>
      <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
      <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
      <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path>
      <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
      <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
      <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
      <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
      <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
    </svg>
  </div>
  <div>
    <h1 class="font-semibold text-sm lg:text-xl block md:hidden">
      {servicio.servicio.name}
    </h1>
    <p class="hidden md:block text-lg">
      {servicio.servicio.description}
    </p>
  </div>
</div>
