<section class="w-[80%] mx-auto">
  <div
    class="lg:grid lg:grid-cols-4 rounded-lg bg-zinc-600/[80%] backdrop-blur-xl"
  >
    <div class="p-8 border-b-2 lg:border-r-2 lg:border-b-0">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-semibold pb-5">Hola soy meteo</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-egg-filled mb-5"
          width="70"
          height="70"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12.002 2c-4.173 -.008 -8.002 6.058 -8.002 12.083c0 4.708 3.25 7.917 8 7.917c4.727 -.206 8 -3.328 8 -7.917c0 -6.02 -3.825 -12.075 -7.998 -12.083z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </div>
      <p class="">
        Esta es una breve descripcion de lo que hace el bundle y bueno nada para
        agrandar el espacio y que ese grande el chiche
      </p>
    </div>

    <div class="p-8 border-b-2 lg:border-r-2 lg:border-b-0">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-semibold pb-5">Hola soy meteo</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-egg-filled mb-5"
          width="70"
          height="70"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12.002 2c-4.173 -.008 -8.002 6.058 -8.002 12.083c0 4.708 3.25 7.917 8 7.917c4.727 -.206 8 -3.328 8 -7.917c0 -6.02 -3.825 -12.075 -7.998 -12.083z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </div>
      <p class="">
        Esta es una breve descripcion de lo que hace el bundle y bueno nada para
        agrandar el espacio y que ese grande el chiche
      </p>
    </div>

    <div class="p-8 border-b-2 lg:border-r-2 lg:border-b-0">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-semibold pb-5">Hola soy meteo</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-egg-filled mb-5"
          width="70"
          height="70"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12.002 2c-4.173 -.008 -8.002 6.058 -8.002 12.083c0 4.708 3.25 7.917 8 7.917c4.727 -.206 8 -3.328 8 -7.917c0 -6.02 -3.825 -12.075 -7.998 -12.083z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </div>
      <p class="">
        Esta es una breve descripcion de lo que hace el bundle y bueno nada para
        agrandar el espacio y que ese grande el chiche
      </p>
    </div>

    <div class="p-8">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-semibold pb-5">Hola soy meteo</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-egg-filled mb-5"
          width="70"
          height="70"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12.002 2c-4.173 -.008 -8.002 6.058 -8.002 12.083c0 4.708 3.25 7.917 8 7.917c4.727 -.206 8 -3.328 8 -7.917c0 -6.02 -3.825 -12.075 -7.998 -12.083z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </div>
      <p class="">
        Esta es una breve descripcion de lo que hace el bundle y bueno nada para
        agrandar el espacio y que ese grande el chiche
      </p>
    </div>
  </div>

  <div class="flex justify-end mt-3">
    <a href="/servicios">Ver mas &RightArrow;</a>
  </div>
</section>
