---

---

<section>
  <div class="">
    <!--<div class="acrilic"></div>
    <div>-->
    <img
      src="/BG2.avif"
      alt="imagen de fondo de flint"
      class="h-[70vh] md:h-[100vh] w-[100%] object-cover"
      height="1000"
      width="1000"
    />
  </div>
  <div class="contenido p-3 lg:p-16 absolute top-[45%] lg:top-[30%]">
    <h1
      class="font-extrabold pb-10 text-3xl lg:text-7xl w-[100%] lg:w-[70%] gradient-text2"
    >
      Flint
      <br />
       Marketing Agency
    </h1>
    <p class="text-sm md:text-2xl w-[100%] lg:w-[100%] hidden md:block">
      Transformamos tu visión en realidad digital. Desde estrategias de
      marketing innovadoras hasta una presencia en línea impactante, impulsamos
      tu marca hacia el éxito. Descubre cómo podemos potenciar tu crecimiento y
      conectar contigo en el mundo digital.
    </p>
    <div
      class="absolute rigth-[30%] bottom-[110%] lg:bottom-[55%] lg:right-[5%]"
    >
      <img
        height="100"
        width="100"
        src="/horneroDer.avif"
        alt="hornero, logo de Flint"
        class="lg:w-[250px] w-[150px]"
      />
    </div>
    <div class="flex flex-col md:flex-row mt-10">
      <a
        href="/contacto"
        class="items-center justify-center px-8 py-4 text-base
                                     leading-6 text-black bg-[#dec998] ease-in duration-200 border border-transparent rounded-full
                                    hover:bg-[#dec998]/50 focus:outline-none focus:ring-2 focus:ring-[#000] focus:ring-offset-2 hidden md:inline-flex"
      >
        Contactanos
      </a>
    </div>
  </div>
</section>

<style>
  .fondo {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .fondo2 {
    position: relative;
    top: 0px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .contenido {
    z-index: 2;
  }

  .mascot {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
</style>
