---

---

<section>
  <div class="">
    <!--<div class="acrilic"></div>
    <div>-->
    <img
      src="/BG2.avif"
      alt="imagen de fondo de flint"
      class="h-[70vh] md:h-[100vh] w-[100%] object-cover"
      height="1000"
      width="1000"
    />
  </div>
  <div class="contenido p-3 lg:p-16 absolute top-[45%] lg:top-[30%]">
    <h1
      class="font-extrabold text-3xl lg:text-7xl w-[100%] lg:w-[70%] gradient-text2"
    >
      Lorem ipsum dolor, sit ameta dco omcs k ascono
    </h1>
    <p class="text-sm md:text-xl mt-10 w-[100%] lg:w-[100%] hidden md:block">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt
      totam debitis, doloremque odit deleniti commodi iure tempore distinctio
      magnam sequi eos quod maxime accusantium ullam optio, veritatis ut
      adipisci!
    </p>
    <div
      class="absolute rigth-[30%] bottom-[110%] lg:bottom-[45%] lg:right-[5%]"
    >
      <img
        height="100"
        width="100"
        src="/horneroDer.avif"
        alt="hornero, logo de Flint"
        class="lg:w-[250px] w-[150px]"
      />
    </div>
  </div>
</section>

<style>
  .fondo {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .fondo2 {
    position: relative;
    top: 0px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .contenido {
    z-index: 2;
  }

  .mascot {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
</style>
