---
import { Image } from "astro:assets";
---

<div>
  <div class="p-8 mt-20 flex justify-center">
    <h1 class="text-2xl md:text-center md:text-5xl lg:text-7xl uppercase">
      Who we are?
      <div class="flex justify-center">
        <Image
          class="md:mx-auto p-2 lg:w-64"
          src="/assets/FlintClaroSolo.avif"
          alt="Logo de flint marketing agency"
          width="100"
          height="100"
          format="webp"
          quality="high"
        />
      </div>
    </h1>
  </div>
  <div class="lg:px-36 px-12">
    <div>
      <div class="text-center">
        <h1 class="py-5 text-2xl font-bold">
          From vision to reality: Fast and stylish!
        </h1>
        <p>
          At Flint, we understand the importance of being able to translate your
          big ideas into the complex and ever-expanding digital world. Through
          our services, we aim to assist you in articulating and turning your
          plans, ideas, and projects into tangible actions.<b
            >We grow with you.</b
          >.
        </p>
      </div>
      <div class="flex justify-center mt-10">
        <a
          href="/en/about"
          class="inline-flex items-center justify-center px-8 py-4 text-base
                                    font-bold leading-6 text-black bg-[#dec998] ease-in duration-200 border border-transparent rounded-full
                                    hover:bg-[#dec998]/50 focus:outline-none focus:ring-2 focus:ring-[#000] focus:ring-offset-2"
        >
          Get to know us
        </a>
      </div>
    </div>
  </div>
</div>
