---
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--Metatags para compartir link -->
    <meta
      name="title"
      property="og:title"
      content="Flint Agencia de Marketing Digital"
    />
    <meta
      name="description"
      property="og:description"
      content="Impulsa tu presencia en línea con nuestra agencia de marketing digital. Ofrecemos soluciones personalizadas que potencian tu marca, aumentan la visibilidad y generan resultados tangibles. Desde estrategias de SEO y gestión de redes sociales hasta campañas publicitarias efectivas, estamos aquí para llevarte al siguiente nivel digital. ¡Descubre cómo podemos hacer crecer tu negocio hoy!"
    />
    <meta name="image" property="og:image" content="/mascota_gris.webp" />
    <meta property="og:image:type" content="image/webp" />
    <!-- Cambia el tipo de imagen según tu caso -->
    <meta property="og:image:width" content="1200" />
    <!-- Ancho de la imagen en píxeles -->
    <meta property="og:image:height" content="630" />
    <!-- Altura de la imagen en píxeles -->

    <!-- Para dispositivos móviles -->
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />

    <!-- Para dispositivos de alta resolución (retina) -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="theme-color" content="#1d1d1b" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/flint-logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="preload"
      as="style"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <script>
      document.addEventListener("astro:page-load", function () {
        const closeBtn = document.getElementById("closeBtn");
        const mobileMenu = document.querySelector(".p-0");
        const openBtn = document.getElementById("openBtn");

        closeBtn.addEventListener("click", () => {
          mobileMenu.classList.toggle("hidden");
        });

        openBtn.addEventListener("click", () => {
          mobileMenu.classList.remove("hidden");
        });
      });
    </script>

    <style is:global>
      body {
        margin: 0;
        padding: 0;
        theme-color: content= "#1d1d1b";
        background: #1d1d1b;
      }
      html {
        color-scheme: dark;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #fff;
      }
      .glass {
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
      .gradient-text {
        background-image: linear-gradient(to top left, #586f7c, #dec998);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      .gradient-text2 {
        background-image: linear-gradient(to top left, #f2af50, #50b4f2);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      .gradient-bg {
        background: rgb(49, 45, 49);
        background: linear-gradient(
          149deg,
          rgba(49, 45, 49, 1) 0%,
          rgba(88, 111, 124, 1) 100%
        );
      }
    </style>
  </body>
</html>
